main {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

section {
  scroll-margin-top: 4rem;
}
.image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the image */
}

.bi {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.icon-link {
  display: inline-block;
  margin-right: 1rem;
}
